name: Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 18.x
        uses: actions/setup-node@v1
        with:
          node-version: 18.x
      - uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-go-dep-${{ hashFiles('**/yarn.lock') }}
      - name: dependencies
        run: yarn install
      - name: build
        run: |
          yarn build
      - name: deploy
        if: ${{ github.event_name == 'push' }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.TOKEN }}
          external_repository: numaproj/numaproj.github.io
          publish_branch: main
          publish_dir: ./public
          cname: www.numaproj.io
